/******************/
/*GENERAL SETTING */
/*****************/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 62.5%;
}

.grid {
	display: grid;
}

.flex {
	display: flex;
}

/* *************** */
/* CALCULATOR */
/* *************** */
.heading-calculator {
	text-align: center;
	font-size: 4rem;
	color: #f98e8e;
	margin-top: 3rem;
}

.main {
	justify-content: center;
	align-items: center;
	height: 75vh;
}

.calculator {
	border: 2px solid #000;
	border-radius: 0.5rem;
	padding: 2rem;
	background-color: #aaa;
}

.display {
	border: 2px solid #000;
	border-radius: 0.5rem;
	padding: 1rem;
	margin-bottom: 1.2rem;
	background-color: #fff;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.total-show {
	font-size: 1.7rem;
	margin: 0 0.6rem;
}

.input-show {
	font-size: 2.7rem;
	margin: 0 0.3rem;
}

.buttons {
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 0.7rem;
}

button {
	padding: 1rem 1.8rem;
	font-size: 1.2rem;
	border-radius: 0.2rem;
}

button:hover {
	cursor: pointer;
	background-color: #fff9;
}

.input-text {
	grid-column: span 2;
	background-color: #faa;
}

.dl {
	background-color: #aaf;
}

.dl:hover {
	background-color: #aaaaffbf;
}

.cl:hover {
	background-color: #ffaaaac8;
}

/* *************** */
/* FOOTER */
/* *************** */
footer {
	text-align: center;
	color: #151515;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
}

.copyright {
	font-size: 1.5rem;
}

.github-link {
	text-decoration: none;
}

.github-icon {
	font-size: 2rem;
	color: #000;
}
